:root{
    /* cores */
    --indigo: hsl(230,94,82);
    --black: hsl(0,0,0);
    --cinza: hsl(215,20,65);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: "poppins";
}

main header{
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
}

main header .links a{
    padding: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

main section {
    text-align: justify;
    padding: 30px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section p{
    font-weight: lighter;
}

main section img{
    border-radius: 300px;
}

main section button{
    cursor: pointer;
    font-weight: 70px;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    border: solid ;
}